resources:
- type: compute.v1.instance
  name: {{ properties["name"] }}
  properties:
    zone: europe-west1-b
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/europe-west1-b/machineTypes/{{ properties["machineType"] }}
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/family/debian-10
    networkInterfaces:
    - network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/{{ properties["network"] }}
      # The configuration below is required to give the instance a public IP address
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
